[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/kubernetes/kubernetes
Requires=docker.service
After=docker.service

[Service]
ExecStart=/usr/bin/kubelet \
  --manifest-url=http://metadata/computeMetadata/v1/instance/attributes/kube-pods \
  --manifest-url-header="Metadata-Flavor: Google" \
  --allow-privileged=true \
  --address=127.0.0.1 \
  --v=0
Restart=on-failure
RestartSec=5
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target
